@model EntityLayer.Concrete.SocialMedia
@{
    ViewData["Title"] = "EditSocialMedia";
    Layout = "~/Views/Shared/_YeniAdminLayout.cshtml";
}


<div class="card-header border-0">
    <h3 class="mb-0"> Sosyal Medya Hesaplarını Düzenleme Sayfası</h3>
</div>
<br />

<form class="form-group" asp-action="EditSocialMedia" asp-controller="SocialMedia" method="post">


    <input asp-for="SocialMediaID" type="hidden" />

    <label asp-for="Name">Başlık:</label> <br />

    <input asp-for="Name" class="form-control" /> <br />

    <label asp-for="Url">Url:</label> <br />

    <input asp-for="Url" class="form-control" /> <br /><br

    <label asp-for="Icon">Icon:</label> <br />

    <input asp-for="Icon" class="form-control" /> <br /><br />

    <button type="submit" class="btn btn-outline-success">Güncelle</button>

</form>
