<footer class="footer">
    <div class="d-sm-flex justify-content-center justify-content-sm-between">
        <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">@DateTime.Now.Year Tüm Hakları Saklıdır.</span>
        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">ASP .NETCORE WEB PROJESİ <i class="ti-heart text-danger ml-1"></i></span>
    </div>
</footer>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
